@media only screen and (max-width: 768px) {
  .employee-list-container {
    overflow-x: auto;
  }

  .employee-list-table {
    width: 100%;
  }

  .employee-list-table th,
  .employee-list-table td {
    padding: 8px;
    font-size: 14px;
  }
}

.search-form {
  display: flex;
  gap: 16px;
  margin-bottom: 1rem;
}
.employee-list-container {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.no-data-message {
  text-align: center;
  font-size: 1.2rem;
  color: grey;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  height: 25px;
}

.edit-btn {
  color: yellow;
}

.yellow {
  background-color: yellow !important;
  color: black !important;
}

.red {
  background-color: red !important;
  color: white !important;
}
