<div class="employee-list-container">
  <h1>Employee List</h1>

  <div class="header">
    <button mat-raised-button color="primary" (click)="navigateToAddEmployee()">
      Add Employee
    </button>
  </div>

  <div class="search-form">
    <input
      matInput
      placeholder="Search Username"
      [(ngModel)]="searchUsername"
      (keyup)="applyFilter()"
    />

    <input
      matInput
      placeholder="Search Status"
      [(ngModel)]="searchStatus"
      (keyup)="applyFilter()"
    />
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</th>
      <td mat-cell *matCellDef="let element">{{ element.birthDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="basicSalary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Salary</th>
      <td mat-cell *matCellDef="let element">
        {{ element.basicSalary | currency : "IDR" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
      <td mat-cell *matCellDef="let element">{{ element.group }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="deleteEmployee(element.id)">
          Delete
        </button>
        <button
          mat-button
          color="accent"
          (click)="navigateToEditEmployee(element.id)"
        >
          Edit
        </button>
        <button
          mat-button
          color=""
          (click)="navigateToDetailEmployee(element.id)"
        >
          Detail
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <p
    class="no-data-message"
    *ngIf="dataSource && dataSource?.data?.length === 0"
  >
    Tidak ada Data
  </p>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
