<div class="employee-detail-container">
  <mat-card class="mat-card-employee">
    <h2>Employee Detail</h2>
    <div *ngIf="employee" class="employee-content">
      <p><strong>Username:</strong> {{ employee.username }}</p>
      <p><strong>First Name:</strong> {{ employee.firstName }}</p>
      <p><strong>Last Name:</strong> {{ employee.lastName }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p>
        <strong>Birth Date:</strong>
        {{ employee.birthDate | date : "dd-MM-yyyy" }}
      </p>
      <p>
        <strong>Basic Salary:</strong> {{ formatSalary(employee.basicSalary) }}
      </p>
      <p><strong>Status:</strong> {{ employee.status }}</p>
      <p><strong>Group:</strong> {{ employee.group }}</p>
      <p><strong>Description:</strong> {{ employee.description }}</p>
    </div>
    <button mat-raised-button color="primary" (click)="onOk()">OK</button>
  </mat-card>
</div>
