.employee-detail-container {
  display: flex;
  justify-content: center;
}

.mat-card-employee {
  max-width: 600px !important;
}

.employee-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  margin-top: 30px;
  background-color: #4671f9 !important;
  color: white !important;
}
