.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button-group button {
  width: 45%;
}
