<div class="form-container">
  <h2>Add New Employee</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="employeeForm.get('username')?.invalid"
        >Username is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="employeeForm.get('firstName')?.invalid"
        >First Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="employeeForm.get('lastName')?.invalid"
        >Last Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="employeeForm.get('email')?.invalid"
        >Valid Email is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Birth Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthDate"
        [max]="maxDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('invalidDate')">
        Birth Date cannot be in the future
      </mat-error>
      <mat-error
        *ngIf="
          employeeForm.get('birthDate')?.invalid &&
          !employeeForm.get('birthDate')?.hasError('invalidDate')
        "
      >
        Birth Date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Basic Salary</mat-label>
      <input matInput formControlName="basicSalary" />
      <mat-error *ngIf="employeeForm.get('basicSalary')?.invalid"
        >Basic Salary must be a valid number</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput formControlName="status" />
      <mat-error *ngIf="employeeForm.get('status')?.invalid"
        >Status is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <input
        type="text"
        matInput
        formControlName="group"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let group of filteredGroups | async"
          [value]="group"
        >
          {{ group }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="employeeForm.get('group')?.invalid"
        >Group is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="employeeForm.get('description')?.invalid"
        >Description is required</mat-error
      >
    </mat-form-field>

    <div class="button-group">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="employeeForm.invalid"
      >
        Save
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
